.characterCard {
  list-style: none;
  min-width: 11rem;
  background: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  position: relative;
  margin-right: 1.5rem;
}

.cardImage {
  height: 15.625rem;
  width: 11rem;
  background: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 8px;
  position: relative;
  user-select: none; 
}

.status {
  color: red;
  position: absolute;
  bottom: 48%;
  left: -36%;
  font-size: 1.5rem;
  transform: rotate(-54.85deg);
  user-select: none;
  width: 305px;
  height: fit-content;
  text-align: center;
}

.name {
  width: 100%;
  text-align: center;
}

.nickname {
  position: absolute;
  bottom: 1.8rem;
  color: white;
  width: 100%;
  text-align: center;
}
