.episodeCard {
  width: 100%;
  min-width: 17.5rem;
  list-style: none;
  background: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  position: relative;
  border: 0.0625rem solid;
  padding-bottom: 0.3125rem;
  white-space: nowrap;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 0.625rem green;
  }
}

.cardImage {
  height: 8.75rem;
  background: center url('../../asserts/episode-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.title {
  width: 100%;
  text-align: center;
}
